Following libraries are required to run ABSA-Toolkit
1. pandas
2. numpy
3. sklearn
4. gensim
5. sys
6. warnings
7. flask
8. json
9. time
10. pickle
11. nltk
12. xgboost
13. pystruct
14. re

Download the above mentioned libraries using 'pip install package-name'
To run xgboost on Windows, please refer to installation guide available here : https://github.com/dmlc/xgboost/blob/master/doc/build.md
After installing nltk, run following commands in python environment : 
import nltk
nltk.download()

To install nltk tagger and stopwords list
